<h2>Select a planet you want to search.</h2>
<div class="time-taken"></div>
<div class="destinations">
	<div class="overlay disabled"  id="destination1">
		<div class="select-palnet">
		<label class="planet-img question"></label>
		<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
		<ul class="planet-list"></ul>
		<div class="vehicle-section">
			<div class="space-vehicles"></div>
		</div>
		</div>
	</div>
	<div class="overlay disabled" id="destination2">
		<div class="select-palnet">
			<label class="planet-img question"></label>
			<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
			<ul class="planet-list"></ul>
			<div class="vehicle-section">
				<div class="space-vehicles"></div>
			</div>
		</div>
	</div>
	<div class="overlay disabled" id="destination3">
		<div class="select-palnet">
			<label class="planet-img question"></label>
			<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
			<ul class="planet-list"></ul>
			<div class="vehicle-section">
				<div class="space-vehicles"></div>
			</div>
		</div>
	</div>
	<div class="overlay disabled" id="destination4">
		<div class="select-palnet">
			<label class="planet-img question"></label>
			<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
			<ul class="planet-list"></ul>
			<div class="vehicle-section">
				<div class="space-vehicles"></div>
			</div>
		</div>
	</div>
</div>
<div class="launch-btn hide" id="findbtn"></div>