<h2>Select a planet you want to search.</h2>
<div class="destinations">
	<div class="select-palnet" id="destination1">
		<label class="planet-img"></label>
		<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
		<ul class="planet-list"></ul>
		<div class="vehicle-section">
			<div class="space-vehicles"></div>
		</div>
	</div>
	<div class="select-palnet" id="destination2">
		<label class="planet-img"></label>
		<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
		<ul class="planet-list"></ul>
		<div class="vehicle-section">
			<div class="space-vehicles"></div>
		</div>
	</div>
	<div class="select-palnet" id="destination3">
		<label class="planet-img"></label>
		<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
		<ul class="planet-list"></ul>
		<div class="vehicle-section">
			<div class="space-vehicles"></div>
		</div>
	</div>
	<div class="select-palnet" id="destination4">
		<label class="planet-img"></label>
		<label class="find"><i class="dropdown icon"></i><input type="text" name="" class="planet-search" disabled="disabled"></label>
		<ul class="planet-list"></ul>
		<div class="vehicle-section">
			<div class="space-vehicles"></div>
		</div>
	</div>
</div>
<div class="time-taken"></div>
<input type="button" name="find" value="Find Falcone!" id="findbtn" disabled>