@import 'var';
@import 'fonts';
@import 'mixins';
@import 'spinner';

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h2,h3 {
	margin: 0;
}

body {
	background-image: url('../images/background.jpg');
}

.hide {
	display: none;
}

header {
	&:after {
		@include clearFix;
	}
	.nav {
		display: inline-block;
		float: right;
		ul {
			display: inline-block;
			li {
				display: inline-block;
				cursor: pointer;
				&:first-child {
					padding-right: 10px;
    				border-right: 1px solid $white-color;
				}
				a {
					font-family: space;
					font-size: 20px;
					display: inline-block;
				    text-align: center;
				    text-decoration: none;
				    color: $white-color;
				    &:hover {
				    	text-decoration: underline;
				    }
				}
			}
		}
	}
}

#app {
	width: 1000px;
	@include mobile {
		width: auto;
	}
	margin: 0 auto;
	h1 {
		font-family: 'space';
		color: $primary-color;
    	font-size: 65px;
    	text-align: center;
    	margin: 0;
    	@include mobile {
			font-size: 30px;
			margin: 30px;
		}
	}

	h2 {
		text-align: center;
		color: $secondary-color;
		font-family: 'space';
	}

	.launch {
		width: 100px;
   		margin: 27px;
    	border: 2px solid $white-color;
    	border-radius: 53px;
	}

	.launch-btn {
		width: 100px;
		height: 100px;
		margin: 20px auto;
		background: url(../images/launch.png);
		background-size: contain;
		border: 5px solid $white-color;
    	border-radius: 55px;
		cursor: pointer;
	}

	.space-play {
		margin-left: 50px;
		@include mobile {
			margin-left: 0px;
		}
	}

	.space-time {
		width: 50%;
    	margin: 0 auto;
    	text-align: center;
		h3 {
			text-align: center;
			font-size: 103px;
			font-family: 'numeric';
			color: $primary-color;
			position: relative;
			display: inline-block;
			&:after {
				content: "hours";
    			font-size: 30px;
			}
			@include mobile {
				font-size: 40px;
				&:before {
					font-size: 25px;
					top: 10px;
					left: -10%;
				}
				&:after {
					font-size: 20px;
				}
			}
		}
		.time-taken {
			font-family: 'space';
		    color: $white-color;
		    font-size: 30px;
		    display: inline-block;
		}
	}

	.destinations {
		&:after {
			@include clearFix;
		}
		.overlay {
			position: relative;
			float: left;
			display: inline-block;
			&:after {
				@include clearFix;
			}
			@include desktop {
				&:not(:first-child) {
					margin-left: 40px;
				}
			}
			@include mobile {
				display: block;
				float: none;
				width: 200px;
    			margin: 40px auto;
			}
			&.disabled:before {
				content: " ";
				  z-index: 10;
				  display: block;
				  position: absolute;
				  height: 100%;
				  top: 0;
				  left: 0;
				  right: 0;
				  background: rgba(0, 0, 0, 0.5);
				  border-radius: 15px;
			}
		}

		.select-palnet {
			display: inline-block;
			float: left;
			border: 2px solid $white-color;
			border-radius: 15px;
			box-sizing: border-box;
   			padding: 10px;
   			background-color: $primary-color;
			
			
			.planet-img {
				width: 70px;
			    height: 70px;
			    display: block;
			    margin: 10px auto;
			    border-radius: 40px;
			    border: 4px solid $white-color;
			    
			    &.question {
			    	background: url(../images/question.jpg);
			    	background-size: contain;
			    }

				&:not(.question) {
					&.planet-Donlon {
						background: url(../images/planets.jpg) -350px -35px;
					}
					&.planet-Enchai {
						background: url(../images/planets.jpg) -510px -35px;
					}
					&.planet-Jebing {
						background: url(../images/planets.jpg) -670px -35px;
					}
					&.planet-Sapir {
						background: url(../images/planets.jpg) -820px -35px;
					}
					&.planet-Lerbin {
						background: url(../images/planets.jpg) -1140px -190px;
					}
					&.planet-Pingasor {
						background: url(../images/planets.jpg) -820px -190px;
					}
				}
			}

			.find {
				display: block;
				width: 100%;
				position: relative;
				background-color: $white-color;
				box-sizing: border-box;
				padding: 5px;
				border-radius: 5px;
				.planet-search {
					width: 90%;
					background: none transparent!important;
					border: none!important;
					box-shadow: none!important;
					outline: 0;
				}
				.dropdown.icon {
					cursor: pointer;
				    position: absolute;
				    width: auto;
				    height: auto;
				    right: 5px;
				    font-family: icon;
					&:after {
						content: '\f0d7';
					}
				}
			}
			

			.planet-list {
				display: none;
				margin-top: 5px;
				background-color: $white-color;
				box-sizing: border-box;
    			padding: 10px;
    			text-align: center;
				li {
					cursor: pointer;
					&:hover {
						background-color: rgba(0, 0, 0, 0.05);
					}
				}
			}

			.space-vehicles-list {
				li {
					cursor: pointer;
					color: aquamarine;
					&.enable {
						color: black;
						font-weight: bold;
					}
					label, input {
						cursor: pointer;
					}
				}
			}
		}
	}

	.space-result {
		.result {
			text-align: center;
			p {
				font-family: 'space';
				color: $white-color;
				font-size: 30px;
				span{
					&.time,&.planet_name {
						font-family: 'numeric';
						color: $primary-color;
					}
				}
			}
			.start-again {
				display: inline-block;
			    font-weight: bold;
			    margin-top: 20px;
			    font-size: 20px;
			    padding: 20px;
			    background-color: $primary-color;
			    color: black;
			    text-decoration: none;
			    border: 2px solid $white-color;
			    border-radius: 40px;
			    font-family: 'space';
			}
		}
	}
}

