@font-face {
    font-family: 'space';
    src: url('/fonts/space2-webfont.woff2') format('woff2'),
         url('/fonts/space2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icon';
    src: url('/fonts/icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}