@mixin clearFix() {
	clear: both;
	content: "";
	display: block;
}

// media queries

@mixin desktop {
	@media (min-width: $desktop-width){
		@content;
	}
}


@mixin mobile {
	@media (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}