@font-face {
  font-family: 'space';
  src: url("../fonts/space2-webfont.woff2") format("woff2"), url("/fonts/space2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icon';
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'numeric';
  src: url("../fonts/numeric-webfont.woff2") format("woff2"), url("/fonts/numeric-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #222; }

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px; }

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00; }

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px; }

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px; }

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite; }

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite; }

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite; }

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%; }

#header {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666; }

#content {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h2, h3 {
  margin: 0; }

body {
  background-image: url("../images/background.jpg"); }

.hide {
  display: none; }

header:after {
  clear: both;
  content: "";
  display: block; }
header .nav {
  display: inline-block;
  float: right; }
  header .nav ul {
    display: inline-block; }
    header .nav ul li {
      display: inline-block;
      cursor: pointer; }
      header .nav ul li:first-child {
        padding-right: 10px;
        border-right: 1px solid #ffffff; }
      header .nav ul li a {
        font-family: space;
        font-size: 20px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: #ffffff; }
        header .nav ul li a:hover {
          text-decoration: underline; }

#app {
  width: 1000px;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    #app {
      width: auto; } }
  #app h1 {
    font-family: 'space';
    color: #e17f34;
    font-size: 65px;
    text-align: center;
    margin: 0; }
    @media (max-width: 1023px) {
      #app h1 {
        font-size: 30px;
        margin: 30px; } }
  #app h2 {
    text-align: center;
    color: #ecede8;
    font-family: 'space'; }
  #app .launch {
    width: 100px;
    margin: 27px;
    border: 2px solid #ffffff;
    border-radius: 53px; }
  #app .launch-btn {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background: url(../images/launch.png);
    background-size: contain;
    border: 5px solid #ffffff;
    border-radius: 55px;
    cursor: pointer; }
  #app .space-play {
    margin-left: 50px; }
    @media (max-width: 1023px) {
      #app .space-play {
        margin-left: 0px; } }
  #app .space-time {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    #app .space-time h3 {
      text-align: center;
      font-size: 103px;
      font-family: 'numeric';
      color: #e17f34;
      position: relative;
      display: inline-block; }
      #app .space-time h3:after {
        content: "hours";
        font-size: 30px; }
      @media (max-width: 1023px) {
        #app .space-time h3 {
          font-size: 40px; }
          #app .space-time h3:before {
            font-size: 25px;
            top: 10px;
            left: -10%; }
          #app .space-time h3:after {
            font-size: 20px; } }
    #app .space-time .time-taken {
      font-family: 'space';
      color: #ffffff;
      font-size: 30px;
      display: inline-block; }
  #app .destinations:after {
    clear: both;
    content: "";
    display: block; }
  #app .destinations .overlay {
    position: relative;
    float: left;
    display: inline-block; }
    #app .destinations .overlay:after {
      clear: both;
      content: "";
      display: block; }
    @media (min-width: 1024px) {
      #app .destinations .overlay:not(:first-child) {
        margin-left: 40px; } }
    @media (max-width: 1023px) {
      #app .destinations .overlay {
        display: block;
        float: none;
        width: 200px;
        margin: 40px auto; } }
    #app .destinations .overlay.disabled:before {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 15px; }
  #app .destinations .select-palnet {
    display: inline-block;
    float: left;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #e17f34; }
    #app .destinations .select-palnet .planet-img {
      width: 70px;
      height: 70px;
      display: block;
      margin: 10px auto;
      border-radius: 40px;
      border: 4px solid #ffffff; }
      #app .destinations .select-palnet .planet-img.question {
        background: url(../images/question.jpg);
        background-size: contain; }
      #app .destinations .select-palnet .planet-img:not(.question).planet-Donlon {
        background: url(../images/planets.jpg) -350px -35px; }
      #app .destinations .select-palnet .planet-img:not(.question).planet-Enchai {
        background: url(../images/planets.jpg) -510px -35px; }
      #app .destinations .select-palnet .planet-img:not(.question).planet-Jebing {
        background: url(../images/planets.jpg) -670px -35px; }
      #app .destinations .select-palnet .planet-img:not(.question).planet-Sapir {
        background: url(../images/planets.jpg) -820px -35px; }
      #app .destinations .select-palnet .planet-img:not(.question).planet-Lerbin {
        background: url(../images/planets.jpg) -1140px -190px; }
      #app .destinations .select-palnet .planet-img:not(.question).planet-Pingasor {
        background: url(../images/planets.jpg) -820px -190px; }
    #app .destinations .select-palnet .find {
      display: block;
      width: 100%;
      position: relative;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 5px;
      border-radius: 5px; }
      #app .destinations .select-palnet .find .planet-search {
        width: 90%;
        background: none transparent !important;
        border: none !important;
        box-shadow: none !important;
        outline: 0; }
      #app .destinations .select-palnet .find .dropdown.icon {
        cursor: pointer;
        position: absolute;
        width: auto;
        height: auto;
        right: 5px;
        font-family: icon; }
        #app .destinations .select-palnet .find .dropdown.icon:after {
          content: '\f0d7'; }
    #app .destinations .select-palnet .planet-list {
      display: none;
      margin-top: 5px;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 10px;
      text-align: center; }
      #app .destinations .select-palnet .planet-list li {
        cursor: pointer; }
        #app .destinations .select-palnet .planet-list li:hover {
          background-color: rgba(0, 0, 0, 0.05); }
    #app .destinations .select-palnet .space-vehicles-list li {
      cursor: pointer;
      color: aquamarine; }
      #app .destinations .select-palnet .space-vehicles-list li.enable {
        color: black;
        font-weight: bold; }
      #app .destinations .select-palnet .space-vehicles-list li label, #app .destinations .select-palnet .space-vehicles-list li input {
        cursor: pointer; }
  #app .space-result .result {
    text-align: center; }
    #app .space-result .result p {
      font-family: 'space';
      color: #ffffff;
      font-size: 30px; }
      #app .space-result .result p span.time, #app .space-result .result p span.planet_name {
        font-family: 'numeric';
        color: #e17f34; }
    #app .space-result .result .start-again {
      display: inline-block;
      font-weight: bold;
      margin-top: 20px;
      font-size: 20px;
      padding: 20px;
      background-color: #e17f34;
      color: black;
      text-decoration: none;
      border: 2px solid #ffffff;
      border-radius: 40px;
      font-family: 'space'; }

/*# sourceMappingURL=app.css.map */
