@font-face {
  font-family: 'space';
  src: url("../fonts/space2-webfont.woff2") format("woff2"), url("/fonts/space2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icon';
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h2, h3 {
  margin: 0; }

body {
  background-image: url("../images/background.jpg"); }

header:after {
  clear: both;
  content: "";
  display: block; }
header .nav {
  display: inline-block;
  float: right; }
  header .nav ul {
    display: inline-block; }
    header .nav ul li {
      display: inline-block;
      cursor: pointer; }
      header .nav ul li:first-child {
        padding-right: 10px;
        border-right: 1px solid black; }

#app {
  width: 1000px;
  margin: 0 auto; }
  #app h1 {
    font-family: 'space';
    color: #e17f34;
    font-size: 65px;
    text-align: center;
    margin-top: 0; }
  #app h2 {
    text-align: center;
    color: #ecede8;
    font-family: 'space'; }
  #app .launch {
    width: 100px;
    margin: 27px;
    border: 2px solid #ffffff;
    border-radius: 53px; }
  #app .space-play {
    margin-left: 60px; }
  #app .destinations {
    margin-top: 100px; }
    #app .destinations:after {
      clear: both;
      content: "";
      display: block; }
    #app .destinations .select-palnet {
      display: inline-block;
      float: left;
      border: 2px solid #ffffff;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 10px;
      background-color: #e17f34; }
      #app .destinations .select-palnet:not(:first-child) {
        margin-left: 40px; }
      #app .destinations .select-palnet .planet-img {
        width: 70px;
        height: 70px;
        display: block;
        margin: 10px auto;
        border-radius: 40px;
        border: 4px solid #ffffff;
        background: url(../images/planets.jpg) -350px -35px; }
      #app .destinations .select-palnet .find {
        display: block;
        width: 100%;
        position: relative;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 5px; }
        #app .destinations .select-palnet .find .planet-search {
          width: 90%;
          background: none transparent !important;
          border: none !important;
          box-shadow: none !important;
          outline: 0; }
        #app .destinations .select-palnet .find .dropdown.icon {
          cursor: pointer;
          position: absolute;
          width: auto;
          height: auto;
          right: 5px;
          font-family: icon; }
          #app .destinations .select-palnet .find .dropdown.icon:after {
            content: '\f0d7'; }
      #app .destinations .select-palnet .planet-list {
        display: none;
        margin-top: 5px;
        background-color: #ffffff; }
        #app .destinations .select-palnet .planet-list li:hover {
          background-color: rgba(0, 0, 0, 0.05); }
      #app .destinations .select-palnet .space-vehicles-list li {
        color: aquamarine; }
        #app .destinations .select-palnet .space-vehicles-list li.enable {
          color: black;
          font-weight: bold; }

/*# sourceMappingURL=app.css.map */
